.blog{
    margin-top: 50px;
    width: 100%;
    height: 1000px;
}

.blog .sidebar{
    width: 20%;
    height: 100%;
    position: absolute;
    left: 5%;
    /* border: 1px solid black; */
}
.sidebar .sidebar-menu{
    width: 100%;
    height: 40px;
    /* border: 1px solid black; */
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
}
.sidebar .sidebar-menu .sidebar-icon{
    width: 40px;
    height: 40px;
    position: absolute;
    /* border: 1px solid black; */
}
.sidebar .sidebar-menu .sidebar-icon .icWeb{
    height:  100%;
}
.sidebar .sidebar-menu .sidebar-icon .icAnd{
    height:  100%;
    margin-left: 5px;
}
.sidebar .sidebar-menu .sidebar-icon .icUx{
    width: 100%;
}
.sidebar .sidebar-menu .sidebar-link{
    margin-block-start: 5px;
    position: absolute;
    font-size: 20px;
    font-weight: bold;
    left: 60px;
}
.blog .mainbar{
    position: absolute;
    width: 70%;
    left: 27%;
    height: 100%;
    /* border: 1px solid black; */
    background-color: #F3F8FB;
    border-radius: 10px;
}

.mainbar form{
    top: 30px;
    width: 90%;
    height: 50px;
    position: relative;
    margin: auto;
    display: block;
}
.mainbar form input[type=text]{
    width: 95%;
    height: 100%;
    border-radius: 10px;
    border: none;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
    padding-left: 5%;
}
.mainbar .short-mainbar{
    width: 90%;
    height: 35px;
    position: relative;
    /* border: 1px solid black; */
    margin: auto;
    display: block;
    top: 50px;
}
.mainbar .short-mainbar .showing{
    position: absolute;
    width: 20%;
    height: 100%;
    left: 2%;
    /* border: 1px solid black; */
}
.mainbar .short-mainbar .shortby{
    position: absolute;
    width: 18%;
    height: 100%;
    /* border: 1px solid black; */
    left: 70%;
}
.mainbar .short-mainbar .btn-filter{
    position: absolute;
    width: 10%;
    left: 88%;
    height: 100%;
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 0px 100px 100px 100px;
    background-color: transparent;
    font-weight: bold;
}
.mainbar .short-mainbar p{
    margin-block-start: 5px;
    font-size: 18px;
    font-weight: bold;
    display: inline-block;
}
.abs{
    color: #858585;
}
.mainbar .main-content{
    width: 90%;
    height: 72%;
    /* border: 1px solid black; */
    margin: auto;
    position: relative;
    top: 10%;
}
.main-content .isi-main-content{
    width: 23%;
    height: 48%;
    background-color: white;
    border-radius: 5px;
    position: relative;
    display: inline-block;
    margin-right: 2%;
    margin-bottom: 2%;
}
.isi-main-content .title-isi{
    position: absolute;
    font-size: 20px;
    font-weight: bold;
    left: 10%;
    top: 7%;
    margin-block-start: 0px;
}
.isi-main-content .btn-tipe{
    position: absolute;
    width: 30%;
    height: 10%;
    border: none;
    background-color: #FEABAB;
    border-radius: 100px;
    color: white;
    font-size: 11px;
    left: 10%;
    top: 20%;
}

.isi-main-content .img-main{
    width: 90%;
    position: absolute;
    left: 5%;
    top: 35%;
    height: 50%;
    border-radius: 10%;
    background-color: #FFFB99;
}
.isi-main-content .maker{
    position: absolute;
    top: 90%;
    font-size: 11px;
    left: 10%;
    font-weight: bold;
    text-decoration: none;
    color: #0162F4;
}