.nav-bar{
    position: relative;
    width: 100%;
    height: 150px; 
    display: inline-block;
}
.nav-bar .img-logo{
    width:10%;
    position: absolute;
    display: inline-block;
    left: 5%;
    top: 20%;
}
.nav-bar .menu-nav-bar{
    position: absolute;
    width: 20%;
    height: 20%;
    /* border: 1px solid black; */
    left: 20%;
    top: 50%;
}
.nav-bar .menu-nav-bar .link{
    color: #7C7C7C;
    display: inline-block;
    font-weight: bold;
    margin-right: 10%;
    margin-block-start: 0em;

}
.nav-bar .menu-nav-bar .link:hover{
    color: #535353;
}
.nav-bar .btn-getStd{
    position: absolute;
    right: 5%;
    width: 7%;
    height: 30%;
    top: 32.5%;
    color: white;
    border: none;
    background-color: black;
    border-radius: 100px;
    font-size: 12px;
    cursor: pointer;
    font-weight: bold;
}
.nav-bar .btn-getStd:hover{
    background-color: white;
    border: 2px solid black;
    color: black;
}

@media only screen and (max-width: 1024px) {
    .nav-bar .menu-nav-bar{
        top: 30%;
    }
    .nav-bar .btn-getStd{
        height: 30%;
        top: 28%;
    }
    .nav-bar .btn-getStd{
        font-size: 8px;
        height: 25%;
    }
    .nav-bar .menu-nav-bar .link{
        font-size: 11px;
    }
  }

  @media only screen and (max-width: 768px) {
    .nav-bar .menu-nav-bar{
        top: 30%;
    }
    .nav-bar .btn-getStd{
        height: 30%;
        top: 28%;
    }
    .nav-bar .btn-getStd{
        font-size: 3px;
        height: 15%;
    }
    .nav-bar .menu-nav-bar .link{
        font-size: 8px;
    }
  }